{{ define "main" }}
{{ $headless := .Site.GetPage "/homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}
<header id="site-head" {{ with .Params.header_image }}style="background-image: url({{ . }})"{{ end }}>
    <div class="vertical">
        <div id="site-header" class="header">
            <button class="language-btn" aria-label="Selected language: {{ .Site.Language.LanguageName }}"><i class="material-icons">translate</i><span>{{ .Site.Language.LanguageName }}</span></button>
            <ul class="language-list">
                {{ range $.Site.Home.AllTranslations }}
                    {{ if not (eq .Language.LanguageName $.Site.Language.LanguageName) }}
                        <li><a class="language-link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div id="site-head-content" class="inner">

            <img src="/images/dobbel-lykke.svg" alt="double happiness" style="width: 40%; height: auto;">

            {{ with .Params.header_headline }}<h1 class="site-title">{{ . }}</h1>{{ end }}
            {{ with .Params.header_subheadline }}<h2 class="site-description">{{ . }}</h2>{{ end }}

            {{ range where $sections ".Params.header_button" "eq" true }}
                 <a class='btn site-menu' data-title-anchor='{{ anchorize .Title }}'>{{ .Title }}</a>
            {{ end }}
            <i id='header-arrow' class="fa fa-angle-down"></i>
        </div>
    </div>
</header>
<main class="content" role="main">

    <div class='fixed-nav'>
    </div>
    {{ range $index_val, $elem_val := $sections }}
        <div class='post-holder'>
            <article id='{{ anchorize .Title }}' class='post {{ if eq $index_val 0 }}first{{ else }}{{ if eq (add $index_val 1) (len $sections) }}last{{ end }}{{ end }}'>
                <header class="post-header">
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
                <section class="post-content">
                    {{ .Content }}
                </section>
            </article>
            <div class='post-after'></div>
        </div>
    {{ end }}
</main>
{{ end }}
