{{ define "main" }}
{{ $headless := .Site.GetPage "/homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}
<header id="site-head">
    <div class="header-container">
        <div class="card-center">
            <div id="site-header" class="header">
                <button class="language-btn" aria-label="Selected language: {{ .Site.Language.LanguageName }}"><i class="material-icons">translate</i><span>{{ .Site.Language.LanguageName }}</span></button>
                <ul class="language-list">
                    {{ range $.Site.Home.AllTranslations }}
                        {{ if not (eq .Language.LanguageName $.Site.Language.LanguageName) }}
                            <li><a class="language-link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div id="site-head-content" class="inner">
                <div id="site-head-content-logo" class="head-logo">
                    <img src="/images/happiness.png" class="happiness" alt="Double happiness">
                </div>
                <div id="site-head-content-text" class="head-text">
                    <img src="/images/Tone_og_George.png" class="GT-img" alt="Tone & George">
                </div>
                <div id="site-head-content-text" class="head-text">
                    <img src="/images/date.png" class="Date-img" alt="Saturday 28. August 2021">
                </div>
    
                {{ range where $sections ".Params.header_button" "eq" true }}
                     <a class='btn site-menu' data-title-anchor='{{ anchorize .Title }}'>{{ .Title }}</a>
                {{ end }}
            </div>        
        </div>
        <div class="card-bottom">
            <div class="img-wrapper">
                <img src="/images/flowers.png" alt="flowers">
            </div>
        </div>
    </div>
</header>
<main class="content" role="main">

    <div class='fixed-nav'>
    </div>
    {{ range $index_val, $elem_val := $sections }}
        <div class='post-holder'>
            <article id='{{ anchorize .Title }}' class='post {{ if eq $index_val 0 }}first{{ else }}{{ if eq (add $index_val 1) (len $sections) }}last{{ end }}{{ end }}'>
                <header class="post-header">
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
                <section class="post-content">
                    {{ .Content }}
                </section>
            </article>
            <div class='post-after'></div>
        </div>
    {{ end }}
</main>
{{ end }}
